/* Container */
div.container {
    width: 800px;
    margin: 0 auto;
}
/* Top bar */
div.top {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
}
/* Logo styling */
.logo {
    margin-left: 15px;
    font-family: Arial;
    font-size: 18px;
    color: #63b0f1;
    font-weight: bold;
}
/* Link styling */
a {
    font-family: Verdana;
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
a:hover {
    color: #f1a463;
}
/* Links #2 container */
div.navbar {
    margin-top: 5px;
    margin-bottom: 5px;
}
/* Main text */
.text {
    font-family: Verdana;
    font-size: 10px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
/* Image */
.img {
    background-color: #63b0f1;
    width: 150px;
    height: 400px;
    margin: 15px;
}
/* Borders */
.border {
    border: 1px solid #ccc;
}
/* Dividers */
.line {
    height: 1px;
    background-color: black;
}
/* Move content to the right */
.end {
    flex: 1;
    display: flex;
    justify-content: end;
}
/* Remove bottom margin for rightmost links (Mostly used for #1 Links) */
div.end a {
    margin-bottom: 0;
}
/* Main content */
div.content {
    display: flex;
    height: 600px;
    margin-bottom: 10px;
}
/* Footer */
div.footer {
    display: flex;
    flex-direction: column;
}
