body {
    background-color: white;
    background-repeat: no-repeat;
}
body.home {
    background-image: url(../img/home.png);
}
body.projects {
    background-image: url(../img/projects.png);
}
body.investment {
    background-image: url(../img/investment.png);
}
body.blog {
    background-image: url(../img/blog.png);
}
body.about {
    background-image: url(../img/about.png);
}
div.home {
    background-color: transparent;
    padding: 10px;
    position: absolute;
    font-size: 30px;
    left: 690px;
    top: 435px;
}
div.projects {
    background-color: transparent;
    padding: 10px;
    position: absolute;
    font-family:Helvetica;
    left: 1080px;
    top: 600px;
}
div.all {
    background-color: transparent;
    padding: 10px;
    position: absolute;
    font-family:Helvetica;
    font-size: 20px;
}
a.home{
    color: transparent;
}
a.projects {
    color: black;
    text-decoration: none;
    padding: 3px;
}
a.all{
    color: black;
    text-decoration: none;
    padding: 3px;
}