body {
  background-color: #fff;
  font-family: Arial, sans-serif;
  padding: 0;
}
.container {
  width: 788px;
  margin: 0 auto;
  padding: 0;
}
.img {
  margin: 20px;
}
.line {
  height: 5px;
  background-color: #ddd9d7;
}
.links {
  margin: 20px;
  color: #12ace3;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.a {
  text-decoration: none;
}
a.big {
  color: #000;
}
div.text1 {
  margin: 20px 0;
  font-size: 13px;
  line-height: 18px;
}
.box {
    display: flex;
    flex-direction: row;
}
.box1 {
    padding: 15px;
    margin-right: 10px;
    background-color: #ddd9d7;
    font-size: 10px;
    line-height: 15px;
    font-style: italic;

}
.small {
    text-decoration: none;
    color: #12ace3;
}
.footer {
  text-align: end;
  font-size: 13px;
  line-height: 25px;
  color: #12ace3;
}
a.big:hover {
  color: inherit
}