/* General styles for the body */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

/* Centering elements using flexbox */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adding shadow to elements */
.shadow {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

/* Container with fixed width */
.container {
  margin: 0;
  width: 1024px;
}

/* Styling for anchor tags */
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

/* Hover effect for anchor tags */
a:hover {
  color: green;
}

/* Header styling with flexbox */
div.header {
  display: flex;
  flex-direction: row;
  align-items: end;
}

/* Navbar styling with flexbox and absolute positioning */
div.navbar {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 1024px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

/* Content area styling with flexbox */
div.content {
  width: 1024px;
  margin: 0;
  display: flex;
  flex-direction: row;
  background: linear-gradient(#a2a2a2 0%, #fafafa 3% 97%, #a2a2a2 100%);
  padding: 0;
}

/* Styling for images within content */
.content-img {
  margin: 10px;
  flex: 6;
}

/* Styling for text within content */
.content-text {
  margin: 0;
  flex: 10;
  padding: 10px;
  width: 500px;
}

/* Styling for the right sidebar */
.sidebar-right {
  flex: 4;
}

.sidebar-text {
  line-height: 20px;
}

/* Styling for contact link */
.contactlink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: relative;
  border-radius: 5px;
  width: 80%;
  top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.mediaimg {
  padding-right: 5px;
  padding-bottom: 10px;
}
/* Footer styling */
.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: black;
  color: rgb(71, 71, 71);
  height: 20px;
}
