body {
    background-color: bisque;
}
.abs {
    position: absolute;
}

.fx {
    filter: grayscale(100%);
}
.nw {
    right: 450px;
    top: 20px;
}
.ne {
    right: 150px;
    top: 20px;
}
.sw {
    right: 450px;
    top: 320px;
}
.se {
    right: 150px;
    top: 320px;
}

.fx:hover{
    animation-direction:reverse;
    transform: translate(0, 200px);
    transition: all 1.5s;

}

.fx{
    transition: all 2s;
}