body.default_body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.default_preview_div{
    scale: 1.5;
}

.default_hr {
  border: none;
  border-top: 2px solid white;
  width: 80%;
  margin: 20px auto;
}

.animation_container {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.circle_animation {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  right:100px;
  bottom: 32px;
  animation: bounce 4s infinite ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(275px);
  }
}
